<?xml version="1.0" encoding="utf-8"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- Main housing -->
  <link name="omni_60_housing">
    <visual>
      <origin xyz="0 0 0" rpy="0 3.14159265 1.57079633"/>
      <geometry>
        <mesh filename="file://$(find husky_kinova_sim)/meshes/omni_60.STL"/>
      </geometry>
      <material name="Blue"/>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 3.14159265 1.57079633"/>
      <geometry>
        <mesh filename="file://$(find husky_kinova_sim)/meshes/omni_60.STL"/>
      </geometry>
    </collision>
  </link>

  <joint name="omni_60_housing_joint" type="fixed">
    <origin xyz="0 0 0.07" rpy="0 0 0"/>
    <parent link="velodyne_base_link"/>
    <child link="omni_60_housing"/>
  </joint>

  <!-- Define 5 camera links -->
   <xacro:property name="camera_radius" value="0.03"/>  <!-- Distance from center --> 
   <xacro:property name="camera_height" value="0.02675"/>  <!-- Height of cameras -->
   <xacro:property name="camera_angle_increment" value="72"/>  <!-- 360/5 degrees --> 

   <xacro:macro name="camera" params="name angle x y rot">
  <link name="${name}_link">
    <!--<visual>-->
      <!--<origin xyz="0 0 0" rpy="0 0 0"/>-->
      <!--<geometry>-->
        <!-- <sphere radius="0.01"/> -->
     <!--</geometry>-->
      <!--<color rgba="1 1 1 1"/>-->
    <!--</visual>-->
  </link>

  <joint name="${name}_joint" type="fixed">
    <origin xyz="${x} ${y} ${camera_height}" rpy="0 0 ${rot}"/>
    <parent link="omni_60_housing"/>
    <child link="${name}_link"/>
  </joint>

  <gazebo reference="${name}_link">
      <sensor name="${name}" type="camera">
        <camera>
          <pose> 0 0 0 0 0 0 </pose>
          <horizontal_fov>2.0</horizontal_fov>
          <image>
            <width>752</width>
            <height>480</height>
          </image>
          <clip>
            <near>0.3</near>
            <far>20</far>
          </clip>
          <optical_frame_id>${name}_color_optical_frame</optical_frame_id>
        </camera>
        <always_on>1</always_on>
        <update_rate>10</update_rate>
        <visualize>true</visualize>
        <topic>/sensors/${name}</topic>
      </sensor>
    </gazebo>
</xacro:macro> 

  <!-- Instantiate the 5 cameras with calculated positions -->
  <xacro:property name="camera0_x" value="${camera_radius * cos(0 * pi / 180)}"/>
  <xacro:property name="camera0_y" value="${camera_radius * sin(0 * pi / 180)}"/>
  <xacro:property name="camera1_x" value="${camera_radius * cos(72 * pi / 180)}"/>
  <xacro:property name="camera1_y" value="${camera_radius * sin(72 * pi / 180)}"/>
    <xacro:property name="camera2_x" value="${camera_radius * cos(144 * pi / 180)}"/>
  <xacro:property name="camera2_y" value="${camera_radius * sin(144 * pi / 180)}"/>
    <xacro:property name="camera3_x" value="${camera_radius * cos(216 * pi / 180)}"/>
  <xacro:property name="camera3_y" value="${camera_radius * sin(216 * pi / 180)}"/>
    <xacro:property name="camera4_x" value="${camera_radius * cos(288 * pi / 180)}"/>
  <xacro:property name="camera4_y" value="${camera_radius * sin(288 * pi / 180)}"/>

  <xacro:camera name="camera0" angle="0" x="${camera0_x}" y="${camera0_y}" rot="0.0"/>
  <xacro:camera name="camera1" angle="72" x="${camera1_x}" y="${camera1_y}" rot="1.257"/>
  <xacro:camera name="camera2" angle="144" x="${camera2_x}" y="${camera2_y}" rot="2.513"/>
  <xacro:camera name="camera3" angle="216" x="${camera3_x}" y="${camera3_y}" rot="3.770"/>
  <xacro:camera name="camera4" angle="288" x="${camera4_x}" y="${camera4_y}" rot="5.027"/> 

</robot>