<?xml version="1.0"?>
<robot xmlns:xacro="https://www.ros.org/wiki/xacro" name="husky">
    
    <xacro:include filename="husky_core.xacro"/>

    <xacro:include filename="husky.gazebo"/>
    
    <xacro:include filename="omni_60.xacro"/>

    <xacro:include filename="kinova_gen3.xacro"/>

    <xacro:include filename="kinova_control.xacro"/>

    <xacro:include filename="velodyne_v16.xacro"/>

</robot>
